<!-- <h1>Built-In Login Logout</h1> -->
{% extends 'base3.html' %}
{% block content %}
<body style="background-color:rgb(37, 38, 43);">
<br><br><br><br><br><br>
<!-- 3 -->
<div style="padding: 70px 0;
text-align: center; color:rgb(241, 241, 241); " >
<h2 style="font-family: 'Courier New', monospace; font-size: 35px">Reset Password</h2>
<p style="font-family: 'Courier', monospace; color:rgb(241, 241, 241); ">We have sended you reset password link on your email. Please Check Your Email!</p>
<a href="/" style="font-family:'Courier', monospace;" >Back to Login Page</a></div>
<body>
{% endblock %}