{% extends 'loginbase.html' %}
{% block content %}

<!-- 1 -->

<center><font style="font-family: 'Press Start 2P', cursive; font-size:30px;" color='green'>Reset Password</font><br><br></center>
<center><font color='red' ><h3 style="font-family:'Courier Old', monospace; font-size:16px;">We will send a link for reset your password,</h3></font></center>
<center><font color='red'><h3 style="font-family:'Courier Old', monospace; font-size:16px;">After submitting please check your mailbox.</h3></font></center><br>
<center><form method="post">
    {% csrf_token %}
    <div class="field">
    {{ form.as_p }}</div>
    <button type="submit" class="button">submit</button>
</form></center>

{% endblock %}


